*{
    padding: 0;
    margin: 0;
}

h1{
    color: brown;
    padding: 2em;
}

.cuerpoAPP{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.contComida{
    display: flex;
    justify-content: center;
}

.bloque1{
padding: 1em;

}

.input1{
    width: 1em;
    text-align: center;
}